{% extends 'layout/base.html' %}

{% block content %}
  <div class="div-form"><h1>Archive</h1></div>
  <div class="div-form">
    <form class="" action="{% url 'archive' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search" placeholder="search">
        <button type="submit" name="searchButton"><img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/OOjs_UI_icon_search.svg" alt="search logo" /></button>
    </form>
  </div>

  {% for query in queryset %}
    <a href="{% url 'show' id=query.id %}">
      <article class="article-list">
        <h2> {{ query.projectName }} </h2>
        <p>
          {{ query.description|truncatewords:3 }}
          Lire la suite
        </p>


        <p><time datetime="{{ query.created_at|date:'d-m-Y' }}" class="time">Posted at {{ query.created_at }}</time></p>
        </p>
      </article>
    </a>

  {% empty %}
    <p> Sorry, no post available </p>

  {% endfor %}


{% endblock %}
