{% extends 'layout/base.html' %}

{% block content %}

  <div class="div-form">
    <h1>Blog - {{ projets|length }} posts</h1>
  </div>
  {% if request.user.is_authenticated and request.user.creator %}
  <a href="{% url 'newProject' %}" class="navbar-right"><div class="divBox">Create new Project</div></a>
  {% endif %}
  

  {% for projet in projets %}
    <a href="{% url 'show' id=projet.id %}">
      <article class="article-list">
        <p class="time">projet.createur</p>
        <h2> {{ projet.projectName }} </h2>
        <p>
          {{ projet.description|truncatewords:3 }}
          Lire la suite
        </p>


        <p><time datetime="{{ projet.created_at|date:'d-m-Y' }}" class="time">Posted at {{ projet.created_at }}</time></p>
        </p>
      </article>
    </a>

  {% empty %}
    <p> Sorry, no post available </p>

  {% endfor %}

{% endblock %}
