{% extends 'layout/base.html' %}

{% block title %}{% endblock %}

{% block content %}

<div class="blog-card spring-fever" style="  background: url({{projet.image.url}}) center no-repeat; margin-top: 2%;
    margin-bottom:2%;">
    <div class="title-content">
        <h3> {{ projet.projectName }}</h3>
        <div class="intro"> {{ projet.createur }}</div>
    </div>
    <div class="card-info">
        {{ projet.description }}
    </div>
    <div class="utility-info">
        <ul class="utility-list">
            <li><span class="licon icon-like"></span><a href="#">{{ note }} / 5</a></li>
			<li><span class="licon icon-com"></span><a href="#">{{ comment.note }}/5</a></li>
            <li><span class="licon icon-dat"></span> {{ projet.created_at }}</li>
            <li><span class="licon icon-dat"></span> {{ projet.updated_at }}</li>
            <li><span class="licon icon-tag"></span><a href="#">{{projet.budget_en_cours}}</a>/ <a href="#">{{projet.budget}} $</a>
            </li>
        </ul>
    </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
    {% if request.user.financer %}
    <form class="" action="{% url 'show' id=id %}" method="post">
        {% csrf_token %}
        {{addmoney}}
        <button type="submit" name="add-money-btn">Send</button>
    </form>
    {% endif %}
    {% if request.user.is_authenticated and request.user.expert %}

    <form class="" action="{% url 'show' id=id %}" method="post">
        {% csrf_token %}
        {{ NoteForm }}
        <button type="submit" name="note-btn">Note</button>
    </form>
    {% endif %}
	{% for comment in comments %}
	<article>
		<a href="{% url 'profile' username=comment.expert %}">{{comment.expert}}</a> : {{ comment.note }}/5 - {{ comment.comment }}
	</article>
	{% endfor %}
</div>
{% endblock %}

