{% extends 'layout/base.html' %}

{% block title %}{% endblock %}

{% block content %}

	<article class="post">
		<h1> {{ projet.projectName }}</h1>

		<p> {{ projet.description }} </p>

		<p>
			<time datetime="{{ projet.created_at|date:'d-m-Y' }}" class="time">Posted at {{ projet.created_at }}</time>
			 - <br>
			<time datetime="{{ projet.updated_at|date:'d-m-Y' }}" class="time">Last update at {{ projet.updated_at }}</time>
		</p>
	</article>

		<p>
			Financement : {{projet.budget_en_cours}}/{{projet.budget}} -
			Note : {{ projet.note.note_final }} / 5
		</p>

		{% if request.user.financer %}
			<form class="" action="{% url 'show' id=id %}" method="post">
				{% csrf_token %}
				{{addmoney}}
				<button type="submit" name="add-money-btn">Send</button>
			</form>
		{% endif %}

		{% if request.user.expert %}
			<!-- <form class="" action="{% url 'show' id=id %}" method="post">
				{% csrf_token %}
				{{addmoney}}
				<button type="submit" name="add-money-btn">Send</button>
			</form>-->
			<form class="" action="{% url 'show' id=id %}" method="post">
				{% csrf_token %}
				{{ NoteForm }}
				<button type="submit" name="note">Note</button>
			</form>
		{% endif %}
{% endblock %}
