{% extends "layout/base.html" %}
{% block content %}
<div style="padding-top: 5%;padding-bottom: 5%;">
  <div class="container wrapper" >
      <div class="row">  </br >  </br > </div>
      <div class="wave"></div>
      <img class="rounded-circle account-img" src="{{ profil.image.url }}">
      <h2 class="account-heading">{{ profil.username }}</h2>
      <p class="text-secondary">{{ profil.email }}</p>
      <!-- FORM HERE -->

      {% if profil.creator %}
      <p>Voici les noms des projets :</p>
      {% for projet in project %}
      <p>
          {{ projet.projectName }}
      </p>
      {% endfor %}
      {% endif %}

      {% if profil.financer %}
      <p>Financé par:</p>
      {% for financ in financed %}
      <p>
          {{ financ.financeur }} -- {{ financ.moneyGiven }} $
      </p>

      {% endfor %}
      {% endif %}

      {% if profil.expert %}
      <p>Expert :</p>
      {% for note in judged %}
      <p>
          {{ note.expert }}
          a donné une note :{{ note.note }}
      </p>
      {% endfor %}
      {% endif %}
  </div>
</div>
{% endblock content %}
