{% extends 'layout/base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<!--Modal: Login / Register Form-->

<!--Content-->
<div class="modal-content container" style="margin-top :3%">

    <!--Modal cascading tabs-->
    <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                    Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                    Register</a>
            </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
            <!--Panel 7-->
            <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                <form class="form-group" action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ formUp | crispy }}
                    <input type="submit" value="Sign Up">
                </form>

            </div>
            <!--/.Panel 7-->

            <!--Panel 8-->
            <div class="tab-pane fade" id="panel8" role="tabpanel">

                <form class="form-group" action="{% url 'signin' %}" method="post">
                    {% csrf_token %}
                    {{ formIn | crispy }}
                    <input type="submit" value="Sign In">
                </form>
            </div>
            <!--/.Panel 8-->
        </div>

    </div>
</div>
<!--/.Content-->


{% endblock %}
